body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
}

#cartIcon {
    cursor: pointer;
}

#cart {
    position: fixed;
    top: 56px;
    right: 10px;

    width: 33vw;
}

#heroImage {
    height: 100%;
    width: 50vw;
    object-fit: fill;
}

.socialIcon {
    height: 35px;
}

.myToast {
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: white;
}